.github-link {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: rgba($color: rgb(247, 83, 29), $alpha: 0.1);
  padding: 5px;
  box-sizing: content-box;
  border-radius: 3px;

  @media screen and (max-width: 540px) {
    font-size: 1.2rem;
  }
}
