.mobile-search {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  width: 100%;

  svg {
    color: var(--dark-grey);
    cursor: pointer;
  }

  &__form {
    input {
      width: 100%;
      font-size: 1rem;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--dark-grey);
      color: var(--text-color);
      transition: 0.2s ease;
      padding: 5px 10px;

      &:focus {
        border-color: var(--primary-color);
      }
    }
  }
}
