.filter-by-genre {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 375px) {
    flex-direction: column;
  }

  > span {
    font-size: var(--font-size);
    color: var(--dark-grey);
  }

  select {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 820px) {
      font-size: var(--font-size);
    }

    @media screen and (max-width: 540px) {
      width: 70px;
      font-size: 0.6rem;
      padding: 5px3px;
    }

    @media screen and (max-width: 375px) {
      width: auto;
    }

    &:focus {
      box-shadow: 0 0 10px var(--primary-color);
    }
    option {
      font-size: var(--font-size);
      cursor: pointer;
    }
  }
}
