*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  // background-color: var(--body) !important;
  color: var(--primary-color);
}

.App {
  background-color: var(--body);
  // transition: 0.3s ease;

  --primary-color: #ad241b;
  --secondary-color: rgb(236, 236, 236);
  --body: rgb(242, 242, 242);
  --grey: rgb(219, 219, 219);
  --light-grey: rgb(233, 233, 233);
  --dark-grey: rgb(120, 120, 120);
  --font-size: 1.1rem;

  @media screen and (max-width: 1024px) {
    --font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    --font-size: 0.9rem;
  }

  @media screen and (max-width: 420px) {
    --font-size: 0.7rem;
  }
}

.App.light {
  --body: rgb(242, 242, 242);
  --secondary-color: rgb(236, 236, 236);
  --text-color: #111;
  --box-shadow-color: #00000030;
}

.App.dark {
  --body: rgb(15, 15, 15);
  --secondary-color: rgb(29, 29, 29);
  --text-color: #fff;
  --box-shadow-color: #ffffff60;
}

@media (prefers-color-scheme: dark) {
  .App {
    --body: rgb(15, 15, 15);
    --secondary-color: rgb(29, 29, 29);
  }
}

body {
  background-color: var(--body);
  color: var(--primary-color);
}
