:root {
  --primary-color: #ad241b;
  --body: rgb(242, 242, 242);
  --grey: rgb(219, 219, 219);
  --light-grey: rgb(233, 233, 233);
  --dark-grey: rgb(120, 120, 120);
  --font-size: 1.1rem;

  @media screen and (max-width: 1024px) {
    --font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    --font-size: 0.9rem;
  }

  @media screen and (max-width: 420px) {
    --font-size: 0.7rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: rgb(15, 15, 15);
  }
}
